@import "nativescript-theme-core/css/core.light.css";

.title {
    font-size: 20px;
    text-align: center;
}

.odd {
    background-color: #ccc;
}

.even {
    background-color: #fff;
}

.bold {
    font-weight: 700;
}

.list-item {
    padding: 10px 20px;
    align-items: center;
}

.title{
    padding: 10px 20px;
}

.details-item {
    padding: 10px 20px;
}

.details-item .bold {
    margin-right: 20px;
}