<FlexboxLayout flexDirection="column">

    <FlexboxLayout alignItems="center" class="details-item" flexDirection="row">
        <Label row="2" col="0" textWrap="true" class="bold" [text]="'Townsmen'"></Label>
        <TextField keyboardType="number" hint="Townsmen" (textChange)="onTextChange($event, 'value')" [text]="item.value"></TextField>
    </FlexboxLayout>

    <FlexboxLayout alignItems="center" class="details-item" flexDirection="row">
        <Label row="2" col="0" textWrap="true" class="bold" [text]="'GDP by week'"></Label>
        <TextField keyboardType="number" hint="GDP" (textChange)="onTextChange($event, 'weekCount')" [text]="item.weekCount"></TextField>
    </FlexboxLayout>

    <FlexboxLayout class="details-item" flexDirection="row">
        <Label class="bold" [text]="'Created'"></Label>

        <DatePicker (loaded)="onPickerLoaded($event)" verticalAlignment="center"></DatePicker>

    </FlexboxLayout>

    <Button [text]="'Save'" (tap)="save()"></Button>
    <Button [text]="'Back'" (tap)="back()"></Button>
    <Button [text]="'Home'" [nsRouterLink]="['']"></Button>
    <!--<TextField name="asd" [text]="item.name"></TextField>-->
</FlexboxLayout>