


<FlexboxLayout flexDirection="column">
    <StackLayout class="title">
        <Label class="title" text="List of items"></Label>
    </StackLayout>

    <ListView [items]="list" (itemTap)="onItemTap($event)">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <FlexboxLayout class="list-item" [class.odd]="odd" [class.even]="even">
                <Label class="bold" [text]="(i + 1) + '. '"></Label>
                <Label [text]="item.name"></Label>
            </FlexboxLayout>
        </ng-template>
    </ListView>

</FlexboxLayout>