<FlexboxLayout flexDirection="column">

    <FlexboxLayout class="details-item" flexDirection="row">
        <Label class="bold" [text]="'City name'"></Label>
        <Label [text]="item.name"></Label>
    </FlexboxLayout>

    <FlexboxLayout class="details-item" flexDirection="row">
        <Label class="bold" [text]="'Created'"></Label>
        <Label [text]="item.date"></Label>
    </FlexboxLayout>

    <FlexboxLayout class="details-item" flexDirection="row">
        <Label class="bold" [text]="'Townsmen'"></Label>
        <Label [text]="item.value"></Label>
    </FlexboxLayout>

    <FlexboxLayout class="details-item" flexDirection="row">
        <Label class="bold" [text]="'GDP by week'"></Label>
        <Label [text]="item.weekCount"></Label>
    </FlexboxLayout>

    <Button [text]="'Edit'" [nsRouterLink]="['/list/details/' + item.id + '/edit']"></Button>
    <Button [text]="'Back'" (tap)="back()"></Button>
</FlexboxLayout>